.carousel {
  @include dimensions(100%, 100vh);
  @include flex();

  position: relative;
  background-image: url("/images/landingBg.png");
  background-size: cover;
  background-position: center;

  .carouselContent {
    @include flex(column, center, center);
    @include dimensions(575px);
    @include md-max {
      width: 100%;
      padding: $sp-sm;
    }
    position: absolute;

    .contentInfo {
      @include flex(column, center, center);
      text-align: center;

      h1 {
        @include md-max {
          font-size: $fs-xl;
        }
        font-size: $fs-xxxxl;
        font-weight: $fw-bold;
        line-height: 1.2;
        color: $tc-light;
      }

      p {
        @include dimensions(400px);
        @include md-max {
          font-size: $fs-xs;
          @include dimensions(200px);
        }
        font-size: $fs-md;
        line-height: 1.2;
        color: rgba($tc-light, 0.8);
      }
    }

    .contentSearchBar {
      @include flex(row, center, center);
      @include dimensions(275px, 50px);
      @include border(1px solid rgba($tc-light, 0.18));
      @include md-max{
        @include dimensions(200px, 40px);
        padding: $sp-xs $sp-xs $sp-xs 0;
      }

      background: rgba($tc-light, 0.25);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: $br-xxxxl;
      padding: $sp-sm;

      background: rgba(255, 255, 255, 0.25);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

      input {
        @include dimensions();
        background-color: transparent;
        border: none;
        outline: none;
        color: $tc-light;

        &::placeholder {
          color: $tc-light;
        }
      }

      .searchIcon {
        color: $tc-light;
        font-size: $fs-lg;
        background-color: $color-primary;
        padding: $sp-sm;
        border-radius: $br-round;
      }
    }
  }

  .fadeEnd {
    @include dimensions(100%, 200px);

    background: linear-gradient(180deg, rgba(4, 21, 45, 0) 10%, $bg-dark 100%);
    position: absolute;
    bottom: 0;
  }
}
