// Importing Fonts
@import url("https://fonts.googleapis.com/css2?family=Andika&display=swap");

// Mixins and variables
@import "components/common/variables";
@import "components/common/mixins";

// Common Styles
@import "components/common/wrappers/content-wrapper/styles";
@import "components/common/header/styles";
@import "components/common/footer/styles";
@import "components/common/loader/styles";
@import "components/common/navbar/styles";
@import "components/common/error/styles";
@import "components/common/protected-route/styles";
@import "components/common/skeleton/styles";
@import "components/common/card/styles";
@import "components/common/landing/styles";

// Admin Styles
@import "components/admin/apps/styles";
@import "components/admin/charts/styles";
@import "components/admin/customer/styles";
@import "components/admin/dashboard/styles";
@import "components/admin/management/styles";
@import "components/admin/products/styles";
@import "components/admin/sidebar/styles";
@import "components/admin/table/styles";

// User Styles
@import "components/user/home/styles";
@import "components/user/cart/styles";
@import "components/user/checkout/styles";
@import "components/user/order/styles";
@import "components/user/product/styles";
@import "components/user/shipping/styles";
@import "components/user/search/styles";

:root {
  // Font
  font-family: "Andika", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 16px;
  font-synthesis: none;

  // Others
  line-height: 1;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Swiper
  .swiper-button-next,
  .swiper-button-prev {
    color: $primary;
  }
  .swiper-pagination-bullet-active {
    background-color: $primary !important;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-dark;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.link {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.app {
  color: $primary;
  font-size: $xl;
}

button{
  cursor: pointer;
  font-family: $font-1;
}