.darkmode {
    position: relative;
    #shape {
      position: absolute;
      width: 100%;
      height: 100%;
      clip-path: circle(0% at 50% 50%);
      z-index: -1;
      transition: clip-path 0.5s cubic-bezier(0.99, 1.56, 0.64, 1);
  
      &.change {
        clip-path: circle(100% at 50% 50%);
        z-index: 1;
      }
    }
  
    #toggle {
      width: 75px;
      height: 28px;
      background: #7c93dc;
      box-shadow: inset 0 1px 3px 2px rgba(12, 12, 12, 0.2);
      border-radius: 15px;
      padding: 0.1rem 0.2rem;
      cursor: pointer;
      position: relative;
      z-index: 99;
      display: flex;
      align-items: center;
      overflow: hidden;
  
      .mountains {
        display: none;
        &.change {
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          z-index: -100;
          background-color: #1d7371;
          transition: all 0.5s ease-in-out;
          clip-path: polygon(
            0% 80%,
            25% 50%,
            40% 70%,
            60% 35%,
            65% 45%,
            80% 20%,
            100% 80%,
            100% 100%,
            0% 100%
          );
        }
      }
  
      .sea {
        height: 100px;
        width: 300%;
        border-radius: 50%;
        position: absolute;
        right: 50%;
        bottom: -320%;
        z-index: -100;
        transform: translateX(50%);
        transition: all 0.5s ease-in-out;
        background: linear-gradient(
          to bottom,
          #3f75cc,
          #06063b,
          #06063b,
          #06063b,
          #06063b
        );
  
        &.change {
          display: none;
        }
      }
  
      .sea::before {
        content: "";
        height: 12.5px;
        width: 7.5px;
        background-color: rgba(254, 254, 254, 0.34);
        filter: blur(2.5px);
        position: absolute;
        top: 2%;
        left: 50%;
      }
  
      .moon {
        height: 12.5px;
        width: 12.5px;
        position: absolute;
        top: 6%;
        right: 27%;
        border-radius: 50%;
        background-color: #ffffff;
        transition: all 0.5s ease-in-out;
        box-shadow: 0 0 5px #ffffff88;
  
        &.change {
          display: none;
        }
      }
  
      .sun {
        display: none;
        &.change {
          display: block;
          z-index: -101;
          height: 15px;
          width: 15px;
          position: absolute;
          top: 10%;
          left: 30%;
          border-radius: 50%;
          background-color: #ffd34d;
          transition: all 0.5s ease-in-out;
          box-shadow: 0 0 7.5px #fef95fc3;
        }
      }
      .star {
        height: 1.5px;
        width: 1.5px;
        position: absolute;
        top: 15%;
        right: 18%;
        background-color: #fff;
        transition: all 0.5s ease-in-out;
        filter: blur(0.4px);
        border-radius: 50%;
  
        &.change {
          display: none;
        }
      }
      .star::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: -10%;
        right: -6px;
        background-color: #fff;
        transition: all 0.5s ease-in-out;
        border-radius: 50%;
      }
  
      .star::after {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 5px;
        right: -5px;
        background-color: #fff;
        transition: all 0.5s ease-in-out;
        border-radius: 50%;
      }
  
      .cloud {
        height: 3px;
        width: 7px;
        border-radius: 9999px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: 10%;
        left: 40%;
        filter: opacity(0.5);
  
        &.change {
          left: 12.5%;
          top: 15%;
          z-index: 1000;
        }
      }
  
      .cloud::before {
        content: "";
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: -50%;
        right: 50%;
        transform: translateX(50%);
      }
  
      &.change {
        background: linear-gradient(to bottom, #6ec8ff, #1f73a7);
      }
  
      .changer {
        width: 25px;
        height: 25px;
        background: #f1f1f1;
        border-radius: inherit;
        box-shadow: inset 0 1px 3px 2px rgba(13, 13, 13, 0.3),
          0 1px 3px 0.5px rgba(11, 11, 76, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.5s cubic-bezier(0.99, 1.56, 0.64, 1);
  
        &.change {
          box-shadow: inset 0 1px 3px 2px rgba(23, 24, 23, 0.3),
            0 1px 3px 0.5px rgba(29, 29, 29, 0.9);
          transform: translateX(43px);
        }
  
        .moonIcon {
          color: #000;
          font-size: 0.75rem;
  
          &.change {
            display: none;
          }
        }
        .sunIcon {
          display: none;
          &.change {
            display: flex;
            color: #000;
            font-size: 0.75rem;
          }
        }
      }
    }
  }