.swiperSlider {
  width: 100%;
  position: relative;
  padding: 20px 10px;
  @include flex(column, center, center, 5rem);

  .swiper {
    width: 75%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px 10px;

    .swiperPagination {
      @include flex();
      margin-top: 10px;

      .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $primary;
        margin: 0px;
        cursor: pointer;

        &.swiper-pagination-bullet-active {
          background-color: $primary;
        }
      }
    }
  }

  .swiperBtnPrev,
  .swiperBtnNext {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: translateY(-50%);
    z-index: 1;

    .icon {
      color: $text-light;
    }

    &::after {
      display: none;
    }

    &:hover {
      transform: translateY(-50%) scale(1.1);
      background-color: $text-light;

      .icon {
        color: $primary;
      }
    }
  }

  .swiperBtnPrev {
    left: 8.5%;
  }

  .swiperBtnNext {
    right: 10%;
  }
}
