header {
  @include dimensions(100%, 80px);
  @include flex(row, center, space-between);
  @include transition(all 0.3s ease-in-out);
  @include md-max {
    @include flex(column, center, center);
    &.menuOpen {
      @include dimensions(100%, auto);
      padding-top: calc((80px - 25px) / 2);
    }
  }

  background-color: $bg-dark;
  padding: 0 $sp-lg;
  position: fixed;
  top: 0;
  z-index: 1000;

  // Font Settings
  font-family: $ff-primary;
  font-weight: $fw-medium;
  @include responsive-text();
  color: $tc-light;

  &.scrolled {
    background-color: $bg-dark;
    @include shadow(0 2px 4px rgba(0, 0, 0, 0.2));
  }

  .headerContainer {
    @include flex(row, center, space-between);
    @include dimensions();
    @include transition(all 0.3s ease-in-out);

    .headerLogo {
      @include flex(row, center, center);
      @include transition(all 0.3s ease-in-out);
      @include dimensions(auto, 25px);

      img {
        @include dimensions();
        margin-right: $sp-sm;
      }
    }

    .headerBtns,
    .headerProfile {
      @include flex(row, center, center);
      @include md-max {
        display: none;
      }

      button {
        @include flex(row, center, center, 0.5rem);
        @include shadow();
        .icon {
          @include dimensions(20px);
        }
      }

      .loginBtn {
        @include btn-primary(0.5rem 0.75rem, $color-primary, $tc-light, $br-md);
      }

      .signupBtn {
        @include btn-secondary(0.5rem 0.75rem, $color-primary, $br-md);
      }
    }

    .headerProfile {
      @include flex();
      @include transition(all, 0.5s, ease-in-out);
      @include md-max {
        display: none;
      }

      .profileAvatar {
        @include dimensions(30px);

        margin-right: $sp-sm;
        img {
          @include dimensions();
          border-radius: $br-round;

          &:hover {
            @include shadow();
            @include border();
          }
        }
      }
    }

    .menuBtn {
      display: none;
      @include md-max {
        display: block;
        @include dimensions(30px, 30px);
        @include flex(row, center, center);
        @include transition(all 0.3s ease-in-out);
        cursor: pointer;
        padding: 0;
        background: none;
        border: none;
        box-shadow: none;
        .icon {
          @include dimensions(28px);
          color: $tc-light;
        }
      }
    }
  }
}
