.header {
  @include flex(row, center, space-around);
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  z-index: 101;
  transition: 0.5s ease-in-out;
  box-sizing: border-box;

  &.scrolled {
    background: rgba($bg-dark, 0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }

  @include lg-max {
    padding: 10px;
    position: sticky;
    @include flex(row, center, space-evenly);
  }

  // Font settings
  font-size: $md;
  font-weight: $medium;
  color: $text-light;
  font-family: $font-1;

  .logo {
    height: 25px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 0.75;
    }
  }

  .buttons {
    @include flex(row, center, space-between, 1rem);

    @include md-max {
      display: none;
    }

    button {
      @include flex(row, center, center, 0.5rem);
      font-size: 15px;

      .icon {
        font-size: $lg;
      }
    }

    .btn1 {
      @include btn1(0.5rem 1rem, $primary, $text-light, 5px);
      opacity: 0.9;
    }

    .btn2 {
      @include btn2(0.5rem 1rem, $primary, 5px);
    }
  }

  .toggle {
    display: none;

    @include md-max {
      display: block;
      cursor: pointer;
      font-size: $xl;
    }
  }

  .profile {
    @include flex(row, center, center, 10px);

    @include md-max {
      display: none;
    }

    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}

// Media queries for better mobile responsiveness
@include md-max {
  .header {
    padding: 10px;
    justify-content: space-between;

    .buttons,
    .profile {
      display: none;
    }

    .toggle {
      display: block;
      font-size: $xl;
    }
  }
}

@include xs-max {
  .header {
    padding: 10px;
    width: 100%;
    justify-content: space-between;
  }
}