nav {
  .navItems {
    @include flex(row, center, space-between, 2.5rem);
    @include md-max {
      display: none;
    }
    li {
      cursor: pointer;
      list-style-type: none;
      opacity: 0.9;
    }
    .furniture {
      list-style-type: none;
      @include flex(row, center, center, 0.5rem);
    }
  }
}

//* Portal-root


//* Styling for Dropdown
.Dropdown {
  @include flex(row, center, center, 0);
  position: fixed; 
  top: 75px; 
  left: 50%; 
  transform: translateX(-50%);
  width: 80%; 
  height: 300px;
  z-index: 1000000000;

  .container {
    @include flex(row, center, center, 1rem);
    background: $bg-dark;
    padding: 2.5rem 4rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 100%;
    border: 1px solid rgba($text-light-2, 0.5);

    &:before {
      content: "";
      position: absolute;
      top: -0.5rem;
      left: 20%;
      transform: translateX(-50%);
      border-width: 0 0.5rem 0.5rem 0.5rem;
      border-style: solid;
      border-color: transparent transparent rgba($text-light-2, 0.75)
        transparent;
    }

    .line {
      width: 1px;
      height: 80%;
      background: $text-light-2;
      margin: 0 1rem;
      opacity: 0.5;
    }

    .links {
      @include flex(column, start, start, 0.75rem);
      h1 {
        margin: 0;
        padding-bottom: 0.5rem;
        font-size: $md;
        color: $text-light;
      }

      ul {
        @include flex(column, start, start, 0.25rem);
        margin: 0;
        padding: 0;

        li {
          cursor: pointer;
          color: $text-light;
          list-style-type: none;
          margin: 0.25rem 0;
          font-size: $sm;
          font-weight: lighter !important;
          opacity: 0.75;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}



//* Styling for Menu 
.Menu {
  @include flex(row, center, center, 0);
  position: absolute;
  top: 7.5%;
  left: 0;
  width: 100%;
  height: 250px;
  overflow-y: hidden;
  z-index: 100000000;

  @include md-min {
    display: none;
  }

  .container {
    @include flex(column, start, start, 1rem);
    overflow-y: scroll;
    width: 85%;
    background: $bg-dark;
    padding: 2.5rem 4rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 100%;
    border: 1px solid rgba($text-light-2, 0.5);

    ul {
      @include flex(column, start, start, 0.75rem);
      width: 100%;
      
      li {
        width: 100%;
        cursor: pointer;
        color: rgba($text-light-2, 0.75);
        list-style-type: none;
        margin: 0.25rem 0;
        font-size: $sm;
        font-weight: lighter !important;
        opacity: 0.75;

        &:hover {
          color: $primary;
        }
      }

      .dropdown-menu {
        width: 100%; 
        margin-top: 10px;
        background: $card-dark;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 0.5rem 1rem;
        border: 1px solid rgba($text-light-2, 0.5);
        
        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            color: $text-light-2;
            font-size: $sm;
            cursor: pointer;
            transition: color 0.3s ease;

            &:hover {
              color: $primary;
            }
          }
        }
      }
    }

    .buttons {
      @include flex(row, center, space-between, 1rem);
      
      button {
        @include flex(row, center, center, 0.35rem);
        font-size: 13px;

        .icon {
          font-size: $md;
        }
      }

      .btn1 {
        @include btn1(0.4rem 0.8rem, $primary, $text-light, 5px);
        opacity: 0.9;
      }

      .btn2 {
        @include btn2(0.4rem 0.8rem, $primary, 5px);
      }
    }

    .profile{
      @include flex(row, center, center, 10px);
      .avatar{
        width: 30px;
        height: 30px;
        border-radius: 50%;
  
        img{
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
