.landing {
  //************************************** Main Sections Starts Here **************************************//
  main {
    @include flex(column, center, center, 5rem);
    .hero {
      width: 100vw;
      position: relative;
      z-index: 100;
      @include md-max {
        height: 50vh;
      }
      .Backdrop-img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.9;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .leftfade {
        width: 50px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(90deg, #04152d 0%, rgba(4, 21, 45, 0) 50%);

        @include md-max {
          width: 100px;
        }
      }

      .overlay {
        width: 100%;
        height: 200px;
        background: linear-gradient(
          180deg,
          rgba(4, 21, 45, 0) 0%,
          #04152d 100%
        );
        position: absolute;
        left: 0;
        bottom: 0;

        @include md-max {
          height: 125px;
        }
      }

      .content {
        @include flex(column, center, center);
        height: 100%;
        position: relative;

        .info {
          @include flex(column, center, center, 20px);
          @include square(575px);
          text-align: center;

          @include md-max {
            margin: 0px;
            @include flex(column, center, center, 10px);
            @include square(400px);
          }

          h1 {
            font-size: $xxxl;
            font-weight: $bold;
            color: $text-light;
            font-family: $font-1;
            text-align: center;
            line-height: 1.2;

            @include md-max {
              font-size: $xxl;
            }
          }

          p {
            display: block;
            width: 400px;
            font-size: $md;
            font-weight: lighter;
            color: rgba($text-light, 0.8);
            font-family: $font-1;
            text-align: center;
            line-height: 1.5;

            @include md-max {
              width: 300px;
              font-size: $sm;
            }
          }

          .search {
            @include flex(row, center, space-between, 10px);
            margin-top: 20px;
            width: 275px;
            height: 45px;
            padding: 0px 5px 0px 20px;
            border-radius: 25px;
            background-color: rgba($text-light, 0.15);
            backdrop-filter: blur(3.5px);
            -webkit-backdrop-filter: blur(3.5px);

            @include md-max {
              margin-top: 10px;
              width: 150px;
              height: 25px;
              padding: 0px 5px 0px 10px;
              border-radius: 15px;
            }

            input {
              background-color: transparent;
              border: none;
              outline: none;
              color: $text-light;
              font-weight: $thin;
              &::placeholder {
                color: rgba($text-light, 0.8);
                font-weight: $thin;
              }

              @include md-max {
                font-size: $xs;
              }
            }
            .icon {
              @include square(35px);
              @include flex(row, center, center, 1px);
              background-color: $primary;
              border-radius: 50%;

              @include md-max {
                @include square(17.5px);
                border-radius: 50%;
              }
              .searchIcon {
                color: $text-light;
                font-size: $lg;
                @include md-max {
                  font-size: $xs;
                }
              }
            }
          }
        }
      }
    }
  }

  //************************************** Main Sections Ends Here **************************************//

  //************************************** Features Section Starts Here **************************************//

  section {
    padding: 0 25px;
    margin-bottom: 50px;
    margin-top: 50px;
    @include flex(column, center, center, 5rem);

    //* Categories Begins Here
    .categories {
      width: 100%;
      @include flex(column, center, center, 4rem);
      .heading {
        @include flex(column, center, center, 20px);
        h1 {
          font-size: $xxl;
          font-weight: $bold;
          color: $text-light;
          text-align: center;
          line-height: 1.2;
        }
        span {
          font-size: $md;
          font-weight: lighter;
          color: rgba($text-light-2, 0.8);
          text-align: center;
          line-height: 1.5;
          background-color: rgba($color: $card-dark, $alpha: 1);
          padding: 5px 15px;
          border-radius: 20px;
          border: 1px solid rgba($text-light-2, 0.25);
        }
        p {
          display: block;
          width: 500px;
          font-size: $md;
          font-weight: lighter;
          color: rgba($text-light-2, 0.8);
          text-align: center;
          line-height: 1.5;
        }
      }
      .categoryItems {
        width: 100%;
        padding: 0 25px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        @include lg-min {
          grid-template-columns: repeat(2, 1fr);
        }

        @include xl-min {
          grid-template-columns: repeat(3, 1fr);
        }

        @include lg-max {
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        }
        .singlecategory {
          @include flex(column, start, flex-start, 20px);
          // @include square(350px);
          padding: 3.5rem;
          background-color: $card-dark;
          border: 1px solid rgba($color: $text-light-2, $alpha: 0.25);
          border-radius: 8px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

          &:hover {
            background-color: $card-hover-dark;
          }

          .icon {
            @include flex(row, center, center, 0px);
            @include square(60px);
            background-color: $primary;
            border-radius: 5px;

            .svg {
              color: $text-light;
              font-size: $lg;
            }
          }
          h1 {
            font-size: $lg;
            font-weight: $bold;
            color: rgba($color: $text-light, $alpha: 0.75);
            margin-top: 20px;
          }
          p {
            font-size: $md;
            font-weight: lighter;
            color: rgba($text-light-2, 0.8);
            margin-top: 10px;
          }
          .link {
            @include flex(row, center, center, 10px);
            a {
              font-size: $md;
              font-weight: lighter;
              color: $primary;
              text-decoration: none;
              transition: all 0.3s ease-in-out;
              &:hover {
                color: $secondary;
              }
            }

            .arrow {
              font-size: $lg;
              color: $text-light-2;
              margin-left: 5px;
            }
          }
        }
      }
    }
    //* Categories Ends Here

    //* User Section - Admin Section Starts Here
    .adminsection,
    .usersection {
      width: 100%;
      margin-top: 100px;
      .container {
        @include flex(row, start, space-between, 10px);
        width: 100%;
        padding: 25px;
        .img {
          position: relative;
          height: 400px;

          @include lg-max {
            display: none;
          }
          &::before,
          &::after {
            content: "";
            position: absolute;
            background-color: rgba($card-light, 0.1);
            border-radius: 10px;
            backdrop-filter: blur(3.5px);
            -webkit-backdrop-filter: blur(3.5px);
            z-index: 1;

            @include lg-max {
              display: none;
            }
          }

          &::before {
            top: -30px;
            left: -30px;
            width: 200px;
            height: 200px;
          }

          &::after {
            bottom: -30px;
            right: -30px;
            width: 200px;
            height: 200px;
          }

          img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
            z-index: 2;
          }
        }
        .content {
          @include flex(column, start, start, 20px);
          margin: 25px;

          .link {
            @include flex(row, center, center, 10px);
            a {
              font-size: $md;
              font-weight: lighter;
              color: $primary;
              text-decoration: none;
              transition: all 0.3s ease-in-out;
              &:hover {
                color: $secondary;
              }
            }
            svg {
              font-size: $lg;
              color: $text-light-2;
              margin-left: 5px;
            }
          }
          > span {
            font-size: $md;
            font-weight: lighter;
            color: rgba($text-light, 1);
            text-align: center;
            line-height: 1.5;
            background-color: rgba($color: $primary, $alpha: 1);
            padding: 2.5px 15px;
            border-radius: 20px;
            border: 1px solid rgba($text-light-2, 0.25);
          }
          > h2 {
            display: block;
            width: 400px;
            font-size: $xxxl;
            font-weight: $bold;
            color: $text-light;
            line-height: 1.2;
          }
          > p {
            display: block;
            width: 500px;
            font-size: $md;
            font-weight: lighter;
            color: rgba($text-light-2, 0.8);
            line-height: 1.5;

            @include lg-max {
              width: 350px;
            }
          }
          .features {
            @include flex(column, start, start, 30px);
            .feature {
              @include flex(row, center, center, 10px);
              .left {
                @include flex(row, center, center, 0px);
                @include square(60px);
                background-color: rgba($color: $card-dark, $alpha: 1);
                border-radius: 50%;
                border: 1px solid rgba($color: $text-light-2, $alpha: 0.25);
                color: $text-light;
              }
              .right {
                @include flex(column, start, center, 10px);
                > h4 {
                  font-size: $lg;
                  font-weight: $bold;
                  color: $text-light;

                  @include lg-max {
                    font-size: $md;
                    display: block;
                    width: 200px;
                  }
                }
                > p {
                  display: block;
                  width: 400px;
                  font-size: 14px;
                  font-weight: lighter;
                  color: rgba($text-light-2, 0.8);

                  @include lg-max {
                    font-size: $sm;
                    display: block;
                    width: 200px;
                  }
                }
              }
            }
          }
        }
      }
    }
    //* User Section - Admin Section Ends Here

    //* Achievements Section Starts Here
    .achievements {
      position: relative;
      width: 100%;
      margin-top: 75px;
      background-color: rgba($color: $card-dark, $alpha: 1);
      border-radius: 15px;
      padding: 60px 20px;

      .illustrationX {
        position: absolute;
        top: -70px;
        left: 0;
        width: 250px;
        height: 250px;

        @include lg-max {
          width: 150px;
          height: 150px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .illustrationY {
        position: absolute;
        bottom: -50px;
        right: 0;
        width: 250px;
        height: 250px;
        @include lg-max {
          width: 150px;
          height: 150px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .container {
        @include flex(column, center, center, 20px);
        width: 100%;
        margin: 20px;
        .heading {
          @include flex(column, center, center, 20px);
          > h2 {
            font-size: 48px;
            font-weight: $bold;
            color: $text-light;
            text-align: center;
            line-height: 1.2;

            @include lg-max {
              font-size: 36px;
            }
          }
          > p {
            display: block;
            width: 550px;
            font-size: $md;
            font-weight: lighter;
            text-align: center;
            color: rgba($text-light-2, 0.8);

            @include lg-max {
              width: 300px;
              font-size: $sm;
            }
          }
          > span {
            font-size: $md;
            font-weight: lighter;
            color: rgba($text-light, 1);
            text-align: center;
            line-height: 1.5;
            background-color: rgba($color: $primary, $alpha: 1);
            padding: 2.5px 15px;
            border-radius: 20px;
            border: 1px solid rgba($text-light-2, 0.25);
          }
        }
        .stats {
          @include flex(row, center, center, 25px);
          @include md-max {
            @include flex(column, center, center, 25px);
          }
          margin-top: 25px;
          .stat {
            @include flex(column, center, center, 10px);
            h2 {
              font-size: 36px;
              font-weight: $bold;
              color: $text-light;
              text-align: center;
              line-height: 1.2;
            }
            p {
              display: block;
              width: 200px;
              font-size: 14px;
              font-weight: lighter;
              text-align: center;
              color: rgba($text-light-2, 0.8);
            }
          }
        }
      }
    }
    //* Achievements Section Ends Here

    //* Admin Card Section Starts Here
    .admincard {
      width: 100%;
      margin-top: 75px;
      background-color: rgba($color: $card-dark, $alpha: 1);
      border: 1px solid rgba($color: $text-light-2, $alpha: 0.25);
      border-radius: 10px;
      padding: 40px 10px;

      .container {
        @include flex(row, center, space-evenly, 20px);
        width: 100%;
        @include lg-max {
          @include flex(column, center, center, 20px);
        }
        .content {
          @include flex(column, start, start, 20px);
          @include lg-max {
            @include flex(column, center, center, 20px);
            text-align: center;
          }
          > span {
            font-size: $md;
            font-weight: lighter;
            color: rgba($text-light, 1);
            text-align: center;
            line-height: 1.5;
            background-color: rgba($color: $primary, $alpha: 1);
            padding: 2.5px 15px;
            border-radius: 20px;
            border: 1px solid rgba($text-light-2, 0.25);
          }
          > h2 {
            display: block;
            width: 500px;
            font-size: $xxl;
            font-weight: $bold;
            color: $text-light;
            line-height: 1.2;

            @include lg-max{
              font-size: $xl;
              display: block;
              width: 300px;
            }
          }
          > p {
            display: block;
            width: 500px;
            font-size: $md;
            font-weight: lighter;
            color: rgba($text-light-2, 0.8);
            
            @include lg-max{
              font-size: $sm;
              display: block;
              width: 300px;
            }
          }
          .link {
            @include flex(row, center, center, 10px);
            margin-top: 10px;
            a {
              font-size: $md;
              font-weight: lighter;
              color: $primary;
              text-decoration: none;
              transition: all 0.3s ease-in-out;
              &:hover {
                color: $secondary;
              }
            }
            svg {
              font-size: $lg;
              color: $text-light-2;
              margin-left: 5px;
            }
          }
        }
        .illustration {
          height: 250px;
          @include lg-max {
            height: 200px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        button {
          @include flex(row, center, center, 10px);
          padding: 10px 20px;
          font-size: $md;
          font-weight: lighter;
          color: $text-light;
          background-color: $primary;
          border: none;
          border-radius: 5px;
        }
      }
    }
    //* Admin Card Ends Here

    //* Testimonials Section Starts Here
    .testimonial {
      @include flex(column, center, center, 10px);
      width: 100%;
      margin-top: 75px;
      .heading {
        @include flex(column, center, center, 15px);
        text-align: center;
        > span {
          font-size: $md;
          font-weight: lighter;
          color: rgba($text-light-2, 0.8);
          text-align: center;
          line-height: 1.5;
          background-color: rgba($color: $card-dark, $alpha: 1);
          padding: 5px 15px;
          border-radius: 20px;
          border: 1px solid rgba($text-light-2, 0.25);
        }
        > h2 {
          display: block;
          width: 500px;
          font-size: $xxl;
          font-weight: $bold;
          color: $text-light;
          line-height: 1.2;
        }
        > p {
          display: block;
          width: 500px;
          font-size: $md;
          font-weight: lighter;
          color: rgba($text-light-2, 0.8);
          text-align: center;
          line-height: 1.5;
        }
      }
      .singletestimonial {
        @include flex(column, center, flex-end, 20px);
        position: relative;
        height: 375px;
        padding: 15px 0px;

        .backdrop {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          border: 1px solid rgba($color: $text-light-2, $alpha: 0.25);
          opacity: 0.85;
          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
            opacity: 0.95;
          }
        }
        .container {
          z-index: 1;
          @include flex(column, center, center, 20px);
          background-color: rgba($color: $card-dark, $alpha: 1);
          border-radius: 10px;
          border: 1px solid rgba($color: $primary, $alpha: 0.5);
          width: 90%;
          border-radius: 15px;

          .content {
            @include flex(column, center, center, 10px);
            padding: 0px 20px 20px 20px;
            position: relative;
            top: -15px;
            z-index: 10;
            text-align: center;
            height: 100%;
            .img {
              @include square(40px);
              img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
                box-shadow: 2px 3px 5px rgba($card-light, 0.2);
                z-index: 1;
              }
            }
            .text {
              @include flex(column, center, center, 5px);
              > h2 {
                display: block;
                width: 500px;
                font-size: $lg;
                font-weight: $bold;
                color: $text-light;
                line-height: 1.2;
              }
              > span {
                font-size: 14px;
                font-weight: lighter;
                color: rgba($text-light-2, 1);
                text-align: center;
                line-height: 1.5;
                border-radius: 20px;
              }
              > p {
                margin-top: 10px;
                display: block;
                width: 225px;
                font-size: $sm;
                font-weight: lighter;
                color: rgba($text-light-2, 0.8);
              }
            }
            .review {
              @include flex(row, center, center, 5px);
              svg {
                font-size: $lg;
                color: $primary;
              }
            }
          }
        }
      }
    }
  }

  //************************************** Features Section Ends Here **************************************//
}
