.landing {
  main {
    width: 100vw;
    height: 90vh;
    position: relative;
    z-index: 100;
    @include md-max{
      height: 50vh;
    }
    .Backdrop-img {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0.9;
      overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
    }
  
    .leftfade{
      width: 150px;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(90deg, #04152d 0%, rgba(4, 21, 45, 0) 100%);

      @include md-max{
        width: 100px;
      }
    }
  
    .overlay{
      width: 100%;
      height: 250px;
      background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #04152d 100%);
      position: absolute;
      left: 0;
      bottom: 0;

      @include md-max{
        height: 125px;
      }
    }

    .content {
      @include flex(column, center, center);
      height: 100%;
      position: relative;

      .info {
        @include flex(column, center, center, 20px);
        @include square(575px);
        text-align: center;

        @include md-max{
          margin: 0px;
          @include flex(column, center, center, 10px);
          @include square(400px);
        }

        h1 {
          font-size: $xxxl;
          font-weight: $bold;
          color: $text-light;
          font-family: $font-1;
          text-align: center;
          line-height: 1.2;

          @include md-max{
            font-size: $xxl;
          }
        }

        p {
          display: block;
          width: 400px;
          font-size: $md;
          font-weight: lighter;
          color: rgba($text-light, 0.8);
          font-family: $font-1;
          text-align: center;
          line-height: 1.5;

          @include md-max{
            width: 300px;
            font-size: $sm;
          }
        }

        .search{
          @include flex(row, center, space-between, 10px);
          margin-top: 20px;
          width: 275px;
          height: 45px;
          padding: 0px 5px 0px 20px;
          border-radius: 25px;
          background-color: rgba($text-light, 0.15);
          backdrop-filter: blur(3.5px);
          -webkit-backdrop-filter: blur(3.5px);

          @include md-max{
            margin-top: 10px;
            width: 150px;
            height: 25px;
            padding: 0px 5px 0px 10px;
            border-radius: 15px;
          }
          
          input{
            background-color: transparent;
            border: none;
            outline: none;
            color: $text-light;
            font-weight: $thin;
            &::placeholder{
              color: rgba($text-light, 0.8);
              font-weight: $thin;
            }

            @include md-max{
              font-size: $xs;
            }
          }
          .icon{
            @include square(35px);
            @include flex(row, center, center, 1px);
            background-color: $primary;
            border-radius: 50%;

            @include md-max{
              @include square(17.5px);
              border-radius: 50%;
            }
            .searchIcon{
              color: $text-light;
              font-size: $lg;
              @include md-max{
                font-size: $xs;
              }
            
            }
          }
        }
      }
    }
  }

  section{
    height: 100vh;
  }
}
