@mixin xs {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin sm {
  @media only screen and (max-width: 640px) {
    @content;
  }
}

@mixin md {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media only screen and (max-width: 1280px) {
    @content;
  }
}

@mixin xxl {
  @media only screen and (max-width: 1536px) {
    @content;
  }
}

@mixin ellipsis($line: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin heading($spacing: 3px, $weight: 300, $case: uppercase) {
  letter-spacing: $spacing;
  font-weight: $weight;
  text-transform: $case;
}

@mixin flex(
  $dir: row,
  $alignItems: center,
  $justifyContent: center,
  $gap: 1rem
) {
  display: flex;
  flex-direction: $dir;
  align-items: $alignItems;
  justify-content: $justifyContent;
  gap: $gap;
}
@mixin grid($col: 1fr, $gap: 1rem, $row: unset) {
  display: grid;
  grid-template-columns: $col;
  grid-template-rows: $row;
  gap: $gap;
}

@mixin inputStyle($w: 100%, $p: 1rem, $bgColor: inherit, $border: none) {
  padding: $p;
  border: $border;
  background-color: $bgColor;
  width: $w;
  outline: none;
}

@mixin posCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin square($s: 1rem) {
  height: $s;
  width: $s;
}

@mixin card(
  $ht: 350px,
  $wd: 225px,
  $p: 1rem,
  $bg: #fff,
  $br: 20px,
  $shadow: 0 2px 4px rgba(0, 0, 0, 0.2),
  $border: none,
  $hover-bg: $bg,
  $hover-shadow: $shadow
) {
  height: $ht;
  width: $wd;
  padding: $p;
  background-color: $bg;
  border-radius: $br;
  box-shadow: $shadow;
  border: $border;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background-color: $hover-bg;
    box-shadow: $hover-shadow;
  }
}

@mixin baseShadow() {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.384);
}

@mixin btn1($p: 0.5rem 1rem, $bg, $color, $br) {
  cursor: pointer;
  border: none;
  outline: none;
  padding: $p;
  background-color: $bg;
  color: $color;
  border-radius: $br;
}

@mixin btn2($p: 0.5rem 1rem, $color, $br){
  cursor: pointer;
  border: 2px solid $color;
  outline: none;
  padding: $p;
  background-color: transparent;
  color: $color;
  border-radius: $br;
}