/* font settings */
// font sizes
$xs: 8px;
$sm: 12px;
$md: 16px;
$lg: 20px;
$xl: 24px;
$xxl: 32px;
$xxxl: 48px;

// font weight
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

// font family
$font-1: "Andika", sans-serif;

/* Color settings */
// Text color
$text-light: #eeeeee;
$text-light-2: #8c97b8;
$text-dark: #181c31;
$text-dark-2: #becaec;

// Background color
$bg-dark: #04152d;
$bg-light: #eeeeee;
$card-light: #f0f0f0;
$card-dark: #051835;
$card-hover-light: #f5f5f5;
$card-hover-dark: #061c3d;
$btn-dark: #0D1B39;

// Primary colors
$primary: #00adb5;
$secondary: #7209b7;
$tertiary: #f6be3b;
$main: #0091ff;