/* font settings */
// font sizes
$xs: 8px;
$sm: 12px;
$md: 16px;
$lg: 20px;
$xl: 24px;
$xxl: 32px;

// font weight
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

// font family
$font-1: "Andika", sans-serif;

/* Color settings */
// Text color
$text-light: #eeeeee;
$text-light-2: #8c97b8;
$text-dark: #181c31;
$text-dark-2: #becaec;

// Background color
$bg-dark: #04152d;
$bg-light: #eeeeee;
$card-light: #d0dcfe;
$card-dark: #181c31;
$card-hover-light: #1c2136;
$card-hover-dark: #d9e3fe;

// Primary colors
$primary: #0091ff;
$secondary: #7209b7;
$tertiary: #f6be3b;