.logoContainer {
  @include dimensions();
  @include border();

  background-color: $bg-card-dark;
  padding: $sp-sm;
  border-radius: $br-xl;
  margin: $sp-lg 0;

  .swiperLogo {
    @include dimensions();
    cursor: grab;

    .swiper-slide {
      @include dimensions(45px, 45px);
      padding: $sp-sm;

      img {
        @include dimensions(100%, 100%);
        filter: brightness(0) invert(1);
        opacity: 0.5;
      }
    }
  }
}
