.menu {
  @include dimensions();
  @include border();
  padding: $sp-md;
  border-radius: $br-md;

  @include md-min {
    display: none;
  }

  .menuContainer {
    @include flex(column, space-between, center);
    ul {
      @include flex(column, flex-start, flex-start);

      .menuFurniture {
        @include flex(column, flex-start, center);
        @include dimensions();

        .menuFurnitureHeading {
          @include flex(row, space-between, center, 0.5rem);
        }

        .menuFurnitureDropDown {
          @include dimensions();

          ul {
            @include flex(column, flex-start, flex-start);
            @include border();
            @include shadow();
            padding: $sp-sm;
            border-radius: $br-md;
            background-color: $bg-card-dark;
          }
        }
      }
    }

    .menuProfile {
      @include flex(row, center, space-between);
      @include border();
      @include shadow();

      border-radius: $br-md;
      padding: $sp-sm $sp-md;
      background-color: $bg-card-dark;

      .Avatar {
        @include flex();
        @include dimensions(30px, 30px);

        img {
          @include dimensions();
          @include border();
          @include shadow();

          border-radius: 50%;
        }
      }
    }

    .menuBtns {
      @include flex(row, center, space-between);
      @include border();
      @include shadow();

      border-radius: $br-md;
      padding: $sp-sm $sp-md;
      background-color: $bg-card-dark;

      button {
        @include flex(row, center, center, 0.5rem);
        @include shadow();
        .icon {
          @include dimensions(20px);
        }
      }

      .loginBtn {
        @include btn-primary(0.5rem 0.75rem, $color-primary, $tc-light, $br-md);
      }

      .registerBtn {
        @include btn-secondary(0.5rem 0.75rem, $color-primary, $br-md);
      }
    }
  }
}
