.Home {
  main {
    height: 100vh;
    padding: 0 25px;
    @include flex(column, center, center, 5rem);
  }

  section {
    height: 100vh;
    padding: 0 25px;
    @include flex(column, center, center, 5rem);

    .trendingProducts {
      width: 100%;
      height: 100%;
      padding: 0 25px;
      @include flex(column, space-between, center, 2rem);

      .trendingHeading {
        @include flex(column, center, center, 3rem);
        padding: 0 20px;
        margin-top: 10px;

        h1 {
          margin-top: 20px;
          font-size: $xxl;
          font-weight: 700;
          color: rgba($color: $text-light, $alpha: 0.8);
        }

        .trendingCategories {
          height: 50px;
          width: auto;
          padding: 0 25px;
          border-radius: 25px;
          //background-color: rgba($color: $card-light, $alpha: 0.85);
          border: 1px solid rgba($color: $text-light-2, $alpha: 0.25);
          background-color: rgba($card-dark, 0.75);
          backdrop-filter: blur(3.5px);
          -webkit-backdrop-filter: blur(3.5px);

          @include flex(row, center, space-between, 1rem);

          .trendingCategory {
            padding: 8px 12px;
            border-radius: 25px;
            color: rgba($color: $text-light, $alpha: 1);
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &.activeCategory {
              background-color: rgba($color: $primary, $alpha: 0.75);
              backdrop-filter: blur(3.5px);
              -webkit-backdrop-filter: blur(3.5px);
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
    }

    .productCategories {
      width: 100%;
      @include flex(column, center, center, 5rem);

      h1{
        margin-top: 20px;
        font-size: $xxl;
        font-weight: 700;
        color: rgba($color: $text-light, $alpha: 0.8);
      }
      
      .productCategoriesContent {
        width: 100%;
        padding: 0 25px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1rem;
    
        .productCategoriesItem {
          position: relative;
          padding: 20px;
          background-color: $card-dark;
          border: 1px solid rgba($color: $text-light-2, $alpha: 0.25);
          border-radius: 8px;
          margin: 0 auto;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: $card-hover-dark;
            transform: scale(1.05);
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
            opacity: 0.75;
          }

          h2{
            font-size: $sm;
            font-weight: 700;
            color: rgba($color: $text-light, $alpha: 0.8);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba($color: $primary, $alpha: 0.8);
            padding: 10px 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease-in-out;
          }

          &:hover{
            transform: scale(1.05);
            h2{
              background-color: rgba($color: $primary, $alpha: 1);
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
            }
          }
        }
      }
    }
  }

  section{
    height: 85vh;
    padding: 0 25px;
    margin-top: 30px;
    @include flex(column, center, center, 5rem);
    .hotDeals {
      @include flex(row, start, space-between, 0px);
      width: 100%;
      padding: 30px;
      background-color: rgba($card-dark, 0.98);
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      .hotDealsImage {
        width: 500px;
        height: 300px;
        border-radius: 8px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
        }
      }

      .hotDealsContent {
        margin-left: 20px;
        h1 {
          font-size: 2rem;
          color: $text-light;
          margin-bottom: 10px;
          // height: 50px;
          // padding: 0 25px;
          // border-radius: 25px;
          //background-color: rgba($color: $card-light, $alpha: 0.85);

          // display: flex;
          // align-items: center;
          // justify-content: center;
          // background-color: rgba($primary, 0.75);
          // backdrop-filter: blur(3.5px);
          // -webkit-backdrop-filter: blur(3.5px);
          // text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        p {
          display: block;
          width: 500px;
          font-size: 0.8rem;
          color: $text-light-2;
          line-height: 1.6;
          margin-top: 20px;
          margin-bottom: 20px;
        }

        .timeRemaining{
          @include flex(row, start, start);
          margin-top: 10px;
          .timeRemainingItem{
            border: 1px solid $text-light;
            padding: 15px;
            border-radius: 8px;
            font-size: $sm;
            color: $text-light;
            text-align: center;
            width: 75px;
            height: 75px;

            @include flex(column, center, center, 10px);

            h3{
              font-size: $lg;
              color: $text-light;
              font-weight: bold;
            }

            p{
              font-size: $sm;
              color: $text-light;
              font-weight: $light;
              margin: 0;
            }


          }
        }

        .AllProductsBtn{
          padding: 10px 20px;
          border-radius: 8px;
          background-color: $primary;
          border: none;
          outline: none;
          color: $text-light;
          font-size: $sm;
          font-weight: bold;
          margin-top: 30px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          @include flex(center, center);
          &:hover{
            background-color: transparent;
            border: 1px solid rgba($color: $primary, $alpha: 0.75);
            color: $primary;
          }
        }
      }
    }
  }
}
