.card {
  @include card();
  @include flex(column, center, center);
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 10px;
  overflow: hidden;
  background-color: $card-dark;

  &:hover {
    background-color: $card-hover-dark;
    transform: scale(1.05);
  }

  .image {
    position: relative;
    width: 100%;
    padding-bottom: 75%;
    overflow: hidden;
    border-radius: inherit;

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
    }
  }

  .content {
    width: 100%;
    padding: 10px 0;

    .category,
    .name {
      font-family: $font-1;
      margin: 12px 0;
    }

    .category {
      font-size: $sm;
      color: $text-dark-2;
    }

    .name {
      font-size: $lg;
      font-weight: bold;
      color: $text-light;
    }

    .rating {
      display: flex;
      gap: 5px;
      margin: 12px 0;
    }

    .bottom {
      margin-top: 25px;
      @include flex(row, center, space-between);

      .info {
        .price {
          font-size: $md;
          font-weight: bolder;
          color: $text-light-2;
          margin: 10px 0;
        }

        .stock {
          font-size: $sm;
          color: $text-dark-2;
        }
      }

      .btn {
        height: 30px;
        width: 30px;
        border: none;
        border-radius: 50%;
        background-color: $primary;
        @include flex(row, center, center);
      }
    }
  }
}
